.loginContainer > div {
    padding:30px 30px;
    border-radius:30px;
}

.loginContainer h1 {
    margin-bottom:30px;
}

.loginContainer button {
    height: 50px;
    display: flex;
    gap: 5px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom:20px;
    border-color: rgba(0,0,0,0.15);
}

.loginContainer button:hover {
    background-color:#4081ec;

}

.loginContainer button:hover span {
    color:#fff;
}

.loginContainer button svg {
    height: 40px;
    background-color: #fff;
    padding: 5px;
}

